// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$background: #FDEFDB;
$dj-purple: #9a5cdf;
$dj-purple-hover: #7e4db7;
$top-bar-background: #d1b3ff;
$profile-title-color: #333;
$spotify-button-hover: #1b0435;
$activity-post-background: #f4f4f4;
$comments-text-color: #555;
$white: #fff
