.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

.likes-count {
  display: flex;
  align-items: flex-start;
}

.likes {
    height: 100%;
    text-align: center;
    display: flex;
    margin-left: 10px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#show-post {
  width: 80%;
  border-radius: 8px;
  margin: 10px auto;
  padding: 18px;
  background-color: rgb(248, 202, 117);
}

.bouton {
  border: none;
  background-color: rgb(248, 202, 117);
}
