.post-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
}

.likes-count {
  display: flex;
  align-items: flex-start;
}

.likes {
    height: 100%;
    text-align: center;
    display: flex;
    margin-left: 10px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#show-post {
  width: 80%;
  border-radius: 8px;
  margin: 87px auto;
  padding: 18px;
  background-color: rgb(248, 202, 117);
}

.bouton {
  border: none;
  background-color: transparent;
}

.btn-submit {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 10px;
  background-color: $dj-purple;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  border: none;
  width: 100%;
}

.form-actions {
  width: 100%;
  margin: 0 auto;
}

#comment_content {
  border: 2px solid $dj-purple;
  &::placeholder {
    color: #888;
    font-family: "Anek Devanagari", "Helvetica", "sans-serif";
    font-weight: 600;
  }
}

a {
  text-decoration: none;
  color : #888;
}

.post-content p {
  color: #333;
}

.post-footer-show {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  padding: 10px;
}

.delete-com {
  background-color: transparent;
  border: none;
}
