/* Barre du haut */
.home-icon .corner-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.profile-title h1 {
  margin: 0;
  color: #333;
  font-size: 24px;
}

/* En-tête du profil */
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px
}

.center {
  text-align: center;
}

.profile-header .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-header h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

/* Boutons dans l'en-tête du profil */
.profile-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.profile-header .btn-spotify,
.profile-header .btn-logout,
.btn-reco {
  background-color: #9a5cdf; /* Couleur Spotify */
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.profile-header .btn-spotify:hover,
.profile-header .btn-logout:hover {
  background-color: #1b0435;
}

/* Fil d'activité */
.activity-feed {
  margin-top: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.activity-feed h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.activity-post {
  background-color: #f4f4f4;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.activity-post p {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.comments-section {
  margin-top: 10px;
}

.comments-section h5 {
  font-weight: bold;
  font-size: 14px;
}

.comments-section p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.followers-info, .see-follow {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  & p {
    margin: 8px;
    color: #333;
  }
  & a {
    text-decoration: none;
  }
}

.activity-feed {
  overflow-x: scroll;
  overflow-y: hidden;
  height: fit-content;
  white-space:nowrap;
}
.scroll-post {
  box-shadow: 1px 1px 10px #999;
  margin: 2px;
  padding: 18px;
  max-height: auto;
  cursor: pointer;
  display:inline-block;
  *display:inline;/* For IE7*/
  *zoom:1;/* For IE7*/
  vertical-align:top;
}

.track-carousel {
  text-align: center;
  margin: 20px 0;
  width: 100%;

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;

    .carousel-arrow {
      cursor: pointer;
      font-size: 24px;
      color: #0D6EFD;
      margin: 0 10px;
    }

    .carousel-tracks {
      width: 200px;
      overflow: hidden;
      width: 85%;

      .track-item {
        padding: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        color: #F4F4F4;
        display: none; // pour masquer tous les éléments sauf l'actuel
      }
    }
  }
}
