<div class="posts-container">
  <%= render "new" %>
  <% @posts.each do |post| %>
    <div class="post-wrapper">
        <%= render "post", post: post, show_details_button: true %>
    </div>
  <% end %>
</div>
