<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
    <h2 class="text-center mb-4">Bonjour <%= @email %>!</h2>

    <% if @resource.try(:unconfirmed_email?) %>
      <p>Nous vous contactons pour vous informer que votre email est en cours de changement vers: <%= @resource.unconfirmed_email %>.</p>
    <% else %>
      <p>Nous vous contactons pour vous informer que votre email a bien été modifié: <%= @resource.email %>.</p>
    <% end %>
  </div>
</div>
