<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
    <h2 class="text-center mb-4">Bonjour <%= @resource.email %>!</h2>

    <p>Vous avez demandé le changement de votre mot de passe. Vous pouvez le faire via le lien ci-dessous.</p>

    <p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>Si vous n'avez pas demandé cela, veuillez ignorer cet email.</p>
    <p>Votre mot de passe ne changera pas tant que vous n'aurez pas accédé au lien ci-dessus et créé un nouveau.</p>
  </div>
</div>
